.menu {
  &__container {
    margin-left: 300px;
    display: flex;
    gap: 1rem;
  }

  &__item {
    padding: 1rem;
    cursor: pointer;
    border: 1px solid transparent;
    color: #5e6366;
    &--active {
      color: #000;
      border: 1px solid #c6cacc;
      border-bottom: 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }
}
