.content {
  display: grid;
  grid-template-columns: 300px 1fr;
  background: #e2f0f0;
  max-width: 1366px;
  margin: 20px 30px;
  // margin: 0 auto;
  padding: 1rem;
  border-radius: 12px;
  overflow: hidden;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__text {
    font-size: 2rem;
  }

}



.content__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 250px;
  // flex-direction: row;
 
} 